[Unit]
Description=Executa o monitoramento de processos a cada 10 minutos

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=monitor_processo.service

[Install]
WantedBy=timers.target
